.TestBox.Box {
  font-size: 13px;
  margin-bottom: 20px;
  position: relative;
}

.TestBox .Box-header-controls {
  min-width: 230px;
}

.TestBox .Box-row.flash-error {
  border-color: rgba(27, 31, 35, 0.15);
}

.TestBox .Box-row.flash-success {
  border-color: rgba(27, 31, 35, 0.15);
}

.TestBox .Box-row.Box-row--gray {
  border-top: 1px solid #e1e4e8;
}

.TestBox .Box-subheader {
  line-height: 26px;
}

.TestBox .Box-row .subnav {
  margin-top: -1px;
  margin-bottom: -1px;
}

.TestBox .Box-row .subnav-item:not(:hover):not(.selected) {
  background-color: #fff;
}

.TestBox .Box-row.flash:last-child {
  border-bottom: none;
}

.TestBox-check-title {
  display: inline-block;
  min-width: 140px;
}

.TestBox .Box--inner {
  background: none;
  margin: -1px;
}

.TestBox .Box-row:not(:first-of-type) .Box--inner .Box-row:first-of-type,
.TestBox .Box-row:not(:last-of-type) .Box--inner .Box-row:last-of-type {
  border-radius: 0;
}

.TestBox img {
  display: inline-block;
  border: 1px solid #d1d5da;
  max-width: 100%;
  max-height: 400px;
}

.TestBox .Image-title {
  text-align: center;
  font-size: 12px;
  padding-bottom: 0.25rem;
}

.TestBox .Image-item {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.TestBox .Image-viewer-tab:not(:last-child):after {
  content: "|";
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: #959da5;
}

.TestBox .Image-viewer {
  padding-bottom: 0.25rem;
}

.TestBox.Box--error:after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  display: block;
  width: 4px;
  height: calc(100% + 2px);
  box-shadow: 4px 0 0 #d73a49 inset;
}

.TestBox .Box-row.Box-row--darkgray {
  background-color: #e1e4e8;
}

.TestBox .subnav-item {
  padding: 3px 10px;
}

.TestBox-error-stack {
  padding-left: 20px;
}

.TestBox.Box--condensed .Box-header {
  min-height: 46px;
  padding: 13px 16px 14px;
  margin: -1px -1px 0 -1px;
  background-color: #fff;
}
